body {
    font-size: 62.5%;
    background-color: aquamarine;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#start-page {
    display: flex;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#quiz-section{
    display: none;
    /* display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; */
}

#div-quiz {
    display: none;
    /* display: flex;
    flex-direction: column;
    align-items: flex-start; */
}
#results {
    display: none;
}

